:root {
    --white: #FFFFFF;
    --light-gray:#D2D2D2;
    --dim-gray:#525252;
    --white-smoke:#F5F5F5;
    --taupe-gray:#8B8B8B;
    --platinum-gray:#e5e5e5;

    --vivid-orange: #E47500;
    --brownish-orange:#9F570C;
    --burnt-orange:#E87D0E;
    --flame-orange:#FA8305;
    --sunset-orange:#FB9E3C;
    --dark-tangerine:#DC7000;
    --pumpkin-orange:#E27A0C1F;
    --amber-orange:#E17A0E3D;
  }